:root {
    --color-carmesí: #981932;
    --color-beige: #FFF0D9;
    --color-azul: #0040DC;
    --color-negro: #000000;
    --color-blanco: #ffffff;
}

main h1{
    margin-top: 7rem;
    margin-left: 2rem;
    color: var(--color-beige);
}



section {
    display: flex;
    width: 90%;
    min-height: 30rem;
    margin: 1rem auto;
    justify-content: space-between;
}

section > h2 {
    color: var(--color-beige);
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
}

.gráfica {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    /* max-width: 500px; */
}

.img-clima{
    display: flex;
    align-items: center;
    width: 25vw;
}

.img-clima img{
    width: 100%;
    height: auto;
}







@media screen and (max-width: 765px) {
    section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-clima{
        width: 10rem;
    }

    .gráfica {
        width: 90%;
    }
    


}