@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --color-carmesí: #981932;
    --color-beige: #FFF0D9;
    --color-azul: #0040DC;
    --color-negro: #000000;
    --color-blanco: #ffffff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    transition: all 0.3s;
}


body {
  margin: 0;
  background: var(--color-carmesí);
  color: #fff;
  overflow-x: hidden;
}

h1{
    font-family: "Karantina", system-ui;
    font-weight: 400;
    font-style: normal;
}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--color-carmesí);
    color: var(--color-beige);
    border-bottom: 1px solid var(--color-beige);
}

.logo {
    letter-spacing: 3px;
}

.menu {
    display: flex;
    justify-content: space-around;
    gap: 1.6rem;
}

.menulink {
    list-style: none;
    margin: 0;
}

.menulink a {
    color: var(--color-beige);
    text-decoration: none;
    font-size: 1.2em;
}

.menulink:hover a {
    color: var(--accent-color);
}

.burger {
    cursor: pointer;
    font-size: 1.2em;
    display: none;
}

.boton{
    width: 50px;
    height: 30px;
}

/* Fondo de imágenes */
.background {
  display: flex;
  flex-direction: column;
}
.background img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* Ventana fija */
.overlay {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.frame {
  width: 60vw;
  height: 50vh;
  border: 2px solid rgba(255,255,255,0.6);
  border-radius: 12px;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.text-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.text-block {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font-size: clamp(24px, 4vw, 48px);
  font-weight: bold;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.text-block.active {
  opacity: 1;
  transform: translateY(0);
}




/* * MEDIA QUERIES */ 
@media screen and (max-width: 678px) {
    .burger {
        display: block;
    }

    .menu {
        margin: 0;
        background: #981932;
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: calc(100% - 70px);
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        z-index: 1;
        transition: all 0.33s;
    }

    .menulink {
        font-size: 1.2rem;
        text-align: center;
    }

    .menu-show {
        right: 0;
    }
}